{% sw_extends '@Storefront/storefront/component/wishlist/listing.html.twig' %}

{% block element_product_listing_col_empty_wishlist %}
    <img
        src="{{ asset('bundles/shirt/img/wishlist_empty.svg', 'theme') }}"
        alt="{{ "wishlist.wishlistEmptyDescription"|trans|striptags }}"
        class="wishlist-listing-empty"
    />
    <h1 class="text-center wishlist-listing-header">{{ "wishlist.wishlistEmptyHeader"|trans }}</h1>
    <p class="text-center wishlist-listing-description">{{ "wishlist.wishlistEmptyDescription"|trans }}</p>
{% endblock %}
