.account-content-main {
    .card {
        border-color: $border-color;
    }
}

.account-recover-password-form {
    border-color: $border-color;

    .card-title {
        padding: 1.25rem 1.25rem $spacer 1.25rem;
        margin-bottom: 0;
    }

    .card-body {
        padding-top: 0;
    }
}
