.product-detail-description-text {
    @include text-paragraph();

    div {
        margin-top: $spacer;
    }
}

.product-detail-tabs {
    margin-bottom: $spacer-lg;

    .product-detail-tab-navigation {
        padding: 0;
    }

    .nav-tabs {
        border-bottom: none;
    }
}

.product-detail-tab-navigation-list {
    flex-direction: column;
    padding-bottom: 5px;
}

.product-detail-properties-table {
    th,
    td {
        border: 0;
    }
}

.product-detail-tab-preview {
    font-family: $font-family-base;
    font-weight: $font-weight-normal;
    margin-top: $spacer-sm;
}

.product-detail-tab-preview-more {
    color: $link-color;

    &:hover {
        text-decoration: underline;
    }
}

@include media-breakpoint-down(xs) {
    .product-detail-tabs {
        .product-detail-tab-navigation-link {
            @include headline();
            background: none;
            border: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

@include media-breakpoint-up(sm) {
    .product-detail-tabs {
        margin-bottom: 0;
        .product-detail-tab-navigation-link {
            @include headline();
        }
    }

    .product-detail-tab-navigation-list {
        border: 0;
        flex-direction: row;
        padding-bottom: 0;
    }
}
