.footer-column-headline {
    @include headline();
}

.footer-copyright {
    display: none;
}

.footer-link-item {
    padding: 0;
}

.footer-main {
    border-top: 2px dashed $border-color;
    background-color: #f9f9f9;
}
