.breadcrumb {
    padding: 0 $spacer;

    svg {
        height: $font-size-base;
        width: auto;
        top: 3px;
    }

    .breadcrumb-container {
        display: flex;
    }

    .breadcrumb-placeholder {
        margin: 0 $spacer-sm;
    }
}
