.category-navigation-link {
    font-family: $font-family-base;
    font-weight: $font-weight-normal;

    &.is-active {
        color: $body-color;
        font-family: $headings-font-family;
        font-weight: $font-weight-bold;
    }

    &.in-path {
        font-family: $headings-font-family;
        font-weight: $font-weight-bold;
    }
}
