.cms-element-image {
    .cms-image {
        border: 5px dashed $border-color;
        padding: 5px;
    }

    .cms-image-container {
        &.is-cover {
            .cms-image {
                object-position: 50% 20%;
            }
        }
    }
}

.cms-element-text {
    div {
        @include text-paragraph();
    }

    div + div {
        margin-top: $spacer;
    }

    .btn {
        margin-top: $spacer;
    }
}
