.product-box {
    border-color: $border-color;
    margin-bottom: $spacer;
}

.product-description {
    height: 3 * $line-height-base * $font-size-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

.product-image {
    max-height: $box-standard-height-img;
}

.product-image-wrapper {
    height: $box-standard-height-img;
}

.product-name {
    @include headline();
    font-size: $h3-font-size;
    margin-top: $spacer;
    height: $h3-font-size;
}

.product-price {
    color: $price-color;
    font-weight: $font-weight-normal;
    font-size: $font-size-lg;
}

.product-feature-value {
    font-weight: unset;
}
