.finish-info {
    .card {
        border: 2px dashed $border-color;
        margin-top: 1rem;
    }
}

.is-act-finishpage {
    .checkout-product-table {
        border: 2px dashed $border-color;
        padding: 1.25rem;
    }

    .checkout .checkout-additional {
        margin-top: 0;
        .card {
            border: 2px dashed $border-color;
        }
    }

    .checkout-aside-summary {
        padding: 1.25rem;
        border: 2px dashed $border-color;

        .checkout-aside-summary-header {
            font-size: 1rem;
            margin-bottom: .75rem;
        }
    }
}
